<div id="snow"></div>

<div class="container mt-3" id="main">
  <div class="row">
    <div id="flexslider" class="col-md-12 mt-4">
      <ul class="slides mt-5">
        <% @urls.each do |url| %>
          <li>
            <img src="<%= url %>"/>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="center col-md-12" id="info">Nimm ein Foto auf und es taucht hier auf!</div>
  </div>
</div>
