<!--<div class="container">
  <div class="row" id="content">
    <%# @urls.each do |url| %>
      <div class="photo col-md-4 mt-2">
        <%#= image_tag(url) %>
      </div>
    <%# end %>
  </div>
</div>-->
<div class="container" id="main">
  <div class="row">
    <div id="flexslider" class="col-md-12">
      <ul class="slides">
        <% @urls.each_with_index do |url, index| %>
          <li>
            <img src="<%= url %>"/>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <button class="btn btn-small btn-success col-md-12" id="trigger">Fetch new pictures</button>
  </div>
</div>
